%p= @user.username
.imgWrapper
  - if @profile.avatar.attached?
    = image_tag @profile.avatar, class: 'imgWrapper_avatar hidden', id: 'avatar-image'
  = image_tag 'default_avatar.png', class: 'imgWrapper_avatar hidden' , id:'default-avatar'

#modal-overlay
  #modal-content
    %p アバターをアップロード
    = form_with model: @profile, url: profile_path, local: true, html: { multipart: true }, method: :put do |f|
      = f.file_field :avatar, id: 'avatar-input'
      = f.submit 'Upload Avatar'
    %button#close-modal 閉じる
