= link_to new_post_path do
  = image_tag 'photoCamera'

- @posts.each do |post|
  .card
    = image_tag post.user.profile.avatar
    = show_posttime(post)
    = post.user.username

    - post.images.each do |image|
      = image_tag image

    = post.caption

    = image_tag 'likeBtn'
    = image_tag 'commentBtn'

    = link_to "https://twitter.com/intent/tweet?url=#{URI.encode_www_form_component(request.original_url)}&text=#{URI.encode_www_form_component(post.caption)}", rel: 'nofollow', target: '_blank' do
      = image_tag 'shareBtn'
