= link_to new_post_path do
  = image_tag 'photoCamera'

- @posts.each do |post|
  .card.post-index{data: {post_id: post.id}}
    = image_tag post.user.profile.avatar
    = show_posttime(post)
    = post.user.username

    - post.images.each do |image|
      = image_tag image

    = post.caption
    = image_tag 'likeBtn', class: 'hidden', id: "likeBtn_#{post.id}"
    = image_tag 'unlikeBtn', class: 'hidden', id: "unlikeBtn_#{post.id}"

    = image_tag 'commentBtn'

    = link_to "https://twitter.com/intent/tweet?url=#{URI.encode_www_form_component(request.original_url)}&text=#{URI.encode_www_form_component(post.caption)}", rel: 'nofollow', target: '_blank' do
      = image_tag 'shareBtn'

= javascript_pack_tag 'like'