= link_to request.referer || root_path do
  = image_tag 'arror.png'

%h1 Comment

.commentBtn
  = image_tag 'commentBtn.png'
.commentArea.hidden
  = text_field_tag 'commentArea'
  %button#submitComment{ type: 'button' } comment

= javascript_pack_tag 'comment'
