.profileNumbers
  .profileNumbers_item
    %p.profileNumbers_number= user.posts.length
    %p.profileNumbers_label Posts
  .profileNumbers_item
    = link_to account_follower_path(account_id: user.id) do
      %p.profileNumbers_number#followersCount= user.followers.length
      %p.profileNumbers_label Followers
  .profileNumbers_item
    = link_to account_following_path(account_id: user.id) do
      %p.profileNumbers_number= user.followings.length
      %p.profileNumbers_label Followings
