!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title AppSimilarInInstagram
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'sanitize'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{href: "https://fonts.googleapis.com", rel: "preconnect"}/
    %link{crossorigin: "", href: "https://fonts.gstatic.com", rel: "preconnect"}/
    %link{href: "https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap", rel: "stylesheet"}/
    %meta{name: "turbolinks-cache-control", content: "no-cache"}

  %body
    .header__allPage
      .header__allPage_center
        = link_to root_path do
          = image_tag 'logo.png', class: 'header__allPage_logo'
      .header__allPage_right
        = link_to profile_path do
          - if signed_in? && current_user.profile&.avatar.present?
            = image_tag current_user&.profile&.avatar, class: 'header__allPage_avatar'

    - if flash.present?
      .flash
        - flash.each do |key, value|
          %div{:class => key}= value

    = yield
